@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap");

body {
  background: rgb(0, 48, 110);
  background-image: url("https://www.transparenttextures.com/patterns/bright-squares.png");
}

.container {
  width: 90%;
  margin: 0 auto;
  padding-top: 25px;
}
h1 {
  font-family: "Bigelow Rules", cursive;
  font-size: 72px;
  color: #0ccac4;
}
header {
  margin: 10px auto;
  padding: 30px;

  text-align: center;
  border-radius: 20px 20px 0px 0px;
  font-family: "Roboto", sans-serif;
}
header p {
  margin: 0;
  padding: 0;
}
input {
  margin: 0 auto;
  margin-bottom: 25px;
  width: 250px;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
